@model DreamMaker.UI.ViewModels.RoomViewModel

@{
    ViewBag.Title = "Detail";
    var currentUserId = User.Identity.GetUserId();
}

<h2>@Model.RoomName</h2>
<h3>房间人数：
    <span>@Model.Members.Count()</span>/
    <span>@Model.MaxMemberCount</span>
</h3>
<h3>成员：</h3>
<ol>
    @foreach(var member in Model.Members)
    {
        <li>
            <a>@member.UserName</a>
        </li>
    }
</ol>

@if (currentUserId == Model.Creator.UserId)
{
    <a>开始抽奖</a>
}

<a href="@Url.Action("Leave")">退出房间</a>
