@model DreamMaker.UI.ViewModels.RoomViewModel

@{
    ViewBag.Title = "Detail";
    var currentUserId = User.Identity.GetUserId();
    var creatorId = Model.Creator.UserId;
}

<h2>@Model.RoomName</h2>
<h4>创建者：@Model.Creator.UserName</h4>
<h4>房间人数：
    <span>@Model.Members.Count()</span>/
    <span>@Model.MaxMemberCount</span>
</h4>
<h4>成员：</h4>
<ol>
    @foreach(var member in Model.Members)
    {
        <li>
            <a>@member.UserName</a>
        </li>
    }
</ol>

@if (currentUserId == Model.Creator.UserId) 
{
    <a>开始抽奖</a>
}

<a href="javascript:(void);" data-href="@Url.Action("Leave")" class="js-leave-room">退出房间</a>

<script>
    $(".js-leave-room").click(function() {
        var $this = $(this);
        var result = false;
        if ('@creatorId' === '@currentUserId') {
            result = true;
        } else {
            result = confirm("确认退出房间？退出后1元钱会退回到您的账户");
        }
        if (result) {
            var href = $this.data("href");
            if (href) {
                location.replace(href);
            }
        }
    });
</script>
